{% extends "blocks.html" %}

{% block title %}| About{% endblock %}

{% block content %}
<img style="float:left; margin-right:20px" width="300" height="324" src="/media/img/anthony-pesce.jpg" alt="Anthony Pesce" title="Anthony Pesce" />

<div class="about">
    <p>I'm a Digital Editor, developer, and journalist at the Los Angeles Times. I focus mostly on front end and JavaScript work, but I do my fair share of database work in PostgreSQL and backend work in Django and Python.</p>
    
    <p>I studied at UCLA, where I was the Editor of the Daily Bruin campus newspaper and won a Knight News Challenge grant to build an open source content management system and <a href="https://github.com/anthonyjpesce/digital-newsroom">newsroom workflow tool</a>. I've been interested in developing tools to make journalism work better online for years, and I'm lucky enough to be doing that every day.</p>
    
    <p>Lately, I've been researching and developing tools to visualize geographic data and display maps online. I've been fiddling with SVG and vector drawing libraries like <a href="http://raphaeljs.com/">Raphael</a>, which I used most recently on the Los Angeles Times <a href="http://graphics.latimes.com/2012-election-gop-results-map-iowa/">GOP Primary Results maps</a>.</p>
    
    <p>I'm pretty busy at The Times, but may be available for freelance work or side projects I find interesting. Email me at anthonyjpesce [at] gmail [dot] com.</p>
</div>
{% endblock %}